<template>
  <div class="col-12">
    <br />
    <div class="card">
      <div class="card-header border-0 pt-4">
        <h4>
          <i class="fas fa-shopping-cart"></i>
          เพิ่มวัตถุดิบในเมนู ({{ food.food_name }})
        </h4>
        <router-link
          :to="'../food-material?food_id=' + $route.query.food_id"
          class="btn btn-info mt-3"
        >
          <i class="fas fa-list"></i>
          กลับหน้าหลัก
        </router-link>
      </div>
      <form id="formData" @submit="submitData">
        <div class="card-body">
          <div class="form-row">
            <!-- <div class="form-group col-md-3">
              <label for="cat_name">ประเภทสินค้า</label>
              <select class="custom-select mb-3" name="cat_name">
                <option disabled="" selected="">Select Types</option>
                <option value="sClass">รายการอาหาร</option>
                <option value="mClass">รายการน้ำดื่่ม</option>
              </select>
            </div> -->
            <table class="table table-hover table-condensed bg-white-only">
              <tbody>
                <tr class="">
                  <td style="width: 200px" class="align-middle sorting">
                    วัตถุดิบ
                  </td>

                  <td
                    style="text-align: center; width: 200px"
                    class="ng-binding"
                  >
                    ราคา
                  </td>
                  <td
                    class="align-middle sorting"
                    tabindex="0"
                    aria-controls="logs"
                    aria-label="วัตถุดิบเริ่มต้น"
                    style="width: 200px; text-align: center"
                  >
                    วัตถุดิบเริ่มต้น
                  </td>

                  <td></td>
                </tr>

                <tr
                  ng-repeat="table in tables"
                  class="ng-scope"
                  style=""
                  v-for="material in materials"
                  :key="material.material_id"
                >
                  <td
                    class="v-middle"
                    ng-dblclick="add_edit_table(!rowform.$visible);rowform.$show()"
                    tabindex="0"
                  >
                    <!-- editable zonename (text with validation) -->
                    <span
                      editable-text="table.name"
                      e-name="name"
                      e-form="rowform"
                      onbeforesave="checkTableName($data, table.id)"
                      e-required=""
                      class="ng-scope ng-binding editable"
                    >
                      <input type="checkbox" v-model="material.isSelect" />{{
                        ` ${material.material_name}`
                      }}
                    </span>
                  </td>

                  <td
                    class="v-middle"
                    ng-dblclick="add_edit_table(!rowform.$visible);
                                                rowform.$show()"
                    tabindex="0"
                  >
                    <span
                      editable-select="table.status"
                      e-name="status"
                      e-form="rowform"
                      e-ng-options="s.value as s.text for s in statuses"
                      class="ng-scope ng-binding editable"
                    >
                      <input
                        type="text"
                        v-model="material.food_material_price"
                      />
                    </span>
                  </td>

                  <td style="text-align: center">
                    <input type="checkbox" v-model="material.isDefault" />
                  </td>
                  <td></td>
                </tr>

                <!-- end ngRepeat: table in tables -->
                <tr ng-repeat="table in tables" class="ng-scope"></tr>
                <!-- end ngRepeat: table in tables -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-primary btn-block mx-auto w-75"
            name="submit"
          >
            บันทึกข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { BASE_API_PATH, HOST } from "../constants";
export default {
  data() {
    return {
      food: {},
      HOST: HOST,
      materials: [],
      food: {},
      memberId: 1,
      foodId: this.$route.query.food_id,
    };
  },
  async mounted() {
    const response = await axios.get(
      `${BASE_API_PATH}/foods?food_id=${this.$route.query.food_id}`
    );
    if (response.status === 200) {
      this.food = response.data.data;
    }

    const response2 = await axios.get(
      `${BASE_API_PATH}/meals?not_in=${this.$route.query.food_id}`
    );
    if (response2.status === 200) {
      this.materials = response2.data.data;
    }
  },
  methods: {
    async submitData() {
      console.log(this.materials);
      let data = [];
      for await (const material of this.materials) {
        if(material.isSelect){
          data.push({
          food_id: this.foodId,
          material_id: material.material_id,
          isDefault: material.isDefault ? 1 : 0,
          food_material_price: material.food_material_price,
        });
        }

      }

      data = JSON.stringify({
        data,
      });

      var config = {
        method: "post",
        url: `${BASE_API_PATH}/add-meal-foods`,
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const result = await axios(config);
      if (result.status === 200) {
        const status = await Swal.fire({
            title: "Success!",
            text: "ทำรายการสำเร็จ",
            icon: "success",
            confirmButtonText: "OK",
          });
          if(status.isConfirmed){
            this.$router.push("../food-material?food_id=" + this.$route.query.food_id);
          }

      }
    },
  },
};
</script>
