<template>
  <div class="col-12">
    <br />
    <div class="card">
      <div class="card-header border-0 pt-4">
        <h4>
          <i class="fas fa-shopping-cart"></i>
          แก้ไขวัตถุดิบ
        </h4>
        <router-link to="../material" class="btn btn-info mt-3">
          <i class="fas fa-list"></i>
          กลับหน้าหลัก
        </router-link>
      </div>
      <form id="formData" @submit="submitData">
        <div class="card-body">
          <div class="form-row">
            <!-- <div class="form-group col-md-3">
              <label for="cat_name">ประเภทสินค้า</label>
              <select class="custom-select mb-3" name="cat_name">
                <option disabled="" selected="">Select Types</option>
                <option value="sClass">รายการอาหาร</option>
                <option value="mClass">รายการน้ำดื่่ม</option>
              </select>
            </div> -->
            <div class="form-group col-md-9">
              <label for="p_name">วัตถุดิบ</label>
              <input
                type="text"
                class="form-control"
                id="p_name"
                placeholder="ชื่อวัตถุดิบ"
                v-model="material.material_name"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-9">
              <label for="p_name">สถานะ</label>

              <div class="row col-md-12">
                <input
                  type="checkbox"
                  class="ml-3 form-control col-md-1"
                  id="p_name"
                  placeholder="สถานะ"
                  v-model="material.isEnable"
                />
                <span class="col-form-label">SHOW</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-primary btn-block mx-auto w-75"
            name="submit"
          >
            บันทึกข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { BASE_API_PATH, HOST } from "../constants";
export default {
  data() {
    return {
      material: {},
      HOST: HOST,
    };
  },
  async mounted() {
    const response = await axios.get(
      `${BASE_API_PATH}/meals?meal_id=${this.$route.query.material_id}`
    );
    this.material = response.data.data;
  },
  methods: {
    async submitData(event) {
      event.preventDefault(0);

      let data = JSON.stringify({
        material_name: this.material.material_name,
        material_id: this.material.material_id,
        isEnable: this.material.isEnable ? 1 : 0,
      });

      let config = {
        method: "put",
        url: `${BASE_API_PATH}/meals`,
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const result = await axios(config);
      if (result.status === 200) {
        const status = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "ตกลง",
        });

        console.log(status);
        if (status.isConfirmed) {
          this.$router.push("../material");
        }
      } else {
        await Swal.fire({
          title: "Error!",
          text: "ทำรายการไม่สำเร็จ",
          icon: "error",
          confirmButtonText: "OK",
        });
      }
    },
  },
};
</script>
