<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <card class="card shadow">
            <template slot="header">
              <h4 class="card-title">โต๊ะอาหาร</h4>
            </template>
            <div class="">
              <div class="row">
                <div v-for="table in tables" :key="table.table_id">
                  <button class="button row" @click="select(table)">
                    <div class="">
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ {{ table.table_no }}
                    </div>
                  </button>
                </div>
                <!-- <div>
                  <button class="button row">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A2
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A3
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A4
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A5
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A6
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A7
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A8
                    </div>
                  </button>
                </div>
                <div>
                  <button class="button">
                    <div>
                      <img
                        class="img"
                        src="../../documentation/img/table.jpg"
                        alt="table"
                        style="width: 80px"
                      />

                      โต๊ะ A9
                    </div>
                  </button>
                </div> -->
                <div></div>
              </div>
            </div>
            <br />
          </card>
        </div>
        <div class="col-md-4">
          <div class="card shadow-sm">
            <div class="card-header pt-4 card shadow">
              <h3 class="card-title">
                <i class="fas fa-cart-arrow-down"></i>
                รายละเอียด
              </h3>
              <table style="width: 130%">
                <br />
                <tr>
                  <td>โต๊ะอาหาร</td>

                  <span class="badge badge-success">
                    {{ tableSelect.table_no }}
                  </span>
                </tr>
                <hr />
                <tr>
                  <td>จำนวนรายการ</td>

                  <span class="badge badge-success">
                    {{ tableSelect.orderNum }} รายการ
                  </span>
                </tr>
                <hr />
                <tr>
                  <td>เวลาสั่งอาหาร</td>

                  <span class="badge badge-success">
                    {{ tableSelect.createOrder }} น.
                  </span>
                </tr>
                <hr />
                <!-- <tr>
                  <td>เวลารออาหาร</td>

                  <span class="badge badge-success"> 10 น.</span>
                </tr>
                <hr /> -->
                <tr>
                  <td>ราคารวม</td>

                  <span class="badge badge-success">
                    {{ tableSelect.total }}
                  </span>
                </tr>
                <hr />

                <tr>
                  <td>สถานะโต๊ะ</td>

                  <span
                    v-if="order.status == STATUS_COMIG_MSG"
                    class="badge badge-info"
                  >
                    จอง
                  </span>

                  <span
                    v-if="order.status == STATUS_NOT_PAY_MSG"
                    class="badge badge-warning"
                  >
                    ยังไม่ชำระเงิน
                  </span>

                  <span
                    v-if="order.status == STATUS_PAY_MSG"
                    class="badge badge-success"
                  >
                    ว่าง
                  </span>

                  <span
                    v-if="order.status == STATUS_CANCEL_MSG"
                    class="badge badge-success"
                  >
                    ว่าง
                  </span>
                </tr>
              </table>

              <br />
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <meta
                name="viewport"
                content="width=device-width, initial-scale=1"
              />
              <link rel="stylesheet" />
              <div class="w3-container">
                <button
                  style="border-radius: 10px"
                  onclick="document.getElementById('id01').style.display='block'"
                  class="button1"
                >
                  <div>
                    <img
                      class="img2"
                      src="../../documentation/img/qrcode.png"
                      alt="table"
                      style="width: 50px"
                    />
                  </div>
                  QR-Code
                </button>

                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content">
                    <div class="w3-container">
                      <span
                        onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright"
                        >&times;</span
                      >
                      <div class="modal-content" modal-transclude="">
                        <div class="modal-header ng-scope">
                          <h3
                            class="modal-title font-bold text-center ng-binding"
                          >
                            โต๊ะอาหาร โต๊ะ {{ tableSelect.table_no }}
                          </h3>
                        </div>
                        <div
                          class="modal-body ng-scope"
                          stop-event="touchend"
                          id="inventory_add"
                          style="padding: 15px 15px; padding-buttom: 15px"
                        >
                          <form
                            name="admin_form"
                            class="
                              bs-example
                              form-horizontal form-validation
                              ng-pristine ng-valid
                            "
                          >
                            <div class="row">
                              <div
                                class="col-sm-12"
                                style="text-align: center"
                                id="qrcode"
                              >
                                <vue-qrcode
                                  :width="300"
                                  :quality="1"
                                  :scale="4"
                                  :value="`${MARKET_URL}?table=${tableSelect.table_id}`"
                                />
                              </div>
                            </div>
                            <div class="modal-footer">
                              <div class="pull-contain">
                                <button
                                  type="button"
                                  class="btn btn-info ng-binding"
                                  @click="printQrcode()"
                                >
                                  พิมพ์
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <meta name="" content="width=device-width, initial-scale=1" />
              <link
                rel="stylesheet"
                href="https://www.w3schools.com/w3css/4/w3.css"
              />

              <button
                style="border-radius: 10px"
                onclick="document.getElementById('id02').style.display='block'"
                class="button2 w3-white"
              >
                <div>
                  <img
                    class="img2"
                    src="../../documentation/img/recycle.jpg"
                    alt="table"
                    style="width: 50px"
                  />
                </div>
                ประวัติ
              </button>

              <div id="id02" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <span
                      onclick="document.getElementById('id02').style.display='none'"
                      class="w3-button w3-display-topright"
                      >&times;</span
                    >
                    <div class="modal-content" modal-transclude="">
                      <div class="modal-header ng-scope">
                        <h3
                          class="modal-title font-bold text-center ng-binding"
                        >
                          ประวัติรายการอาหาร โต๊ะ {{ tableSelect.table_no }}
                        </h3>
                      </div>
                      <div
                        class="modal-body"
                        stop-event="touchend"
                        style="padding: 15px 15px; padding-buttom: 15px"
                      >
                        <div class="row">
                          <div class="col-md-12" style="text-align: center">
                            <table class="table table-reponsive">
                              <thead>
                                <tr>
                                  <th style="text-align: center">orderId</th>
                                  <th style="text-align: center">
                                    จำนวนรายการ
                                  </th>
                                  <th style="text-align: center">
                                    เวลาสั่งอาหาร
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="order in orders"
                                  :key="order.order_id"
                                >
                                  <td>{{ order.order_code }}</td>
                                  <td>{{ order.order_foods.length }}</td>
                                  <td>
                                    {{
                                      displayDatetime(
                                        order.created_at,
                                        "DD/MM/YYYY hh:mm"
                                      )
                                    }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="modal-footer"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <button
                style="border-radius: 10px"
                class="button3 w3-white"
                onclick="document.getElementById('id03').style.display='block'"
              >
                <div>
                  <img
                    class="img2"
                    src="../../documentation/img/bin.png"
                    alt="table"
                    style="width: 50px"
                  />
                </div>
                รายการยกเลิก
              </button>

              <div id="id03" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <span
                      onclick="document.getElementById('id03').style.display='none'"
                      class="w3-button w3-display-topright"
                      >&times;</span
                    >
                    <div class="modal-content" modal-transclude="">
                      <div class="modal-header ng-scope">
                        <h3
                          class="modal-title font-bold text-center ng-binding"
                        >
                          ประวัติการยกเลิก โต๊ะ {{ tableSelect.table_no }}
                        </h3>
                      </div>
                      <div
                        class="modal-body"
                        stop-event="touchend"
                        style="padding: 15px 15px; padding-buttom: 15px"
                      >
                        <div class="row">
                          <div class="col-md-12" style="text-align: center">
                            <table class="table table-reponsive">
                              <thead>
                                <tr>
                                  <th style="text-align: center">orderId</th>
                                  <th style="text-align: center">
                                    จำนวนรายการ
                                  </th>
                                  <th style="text-align: center">
                                    เวลาสั่งอาหาร
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  v-for="order in cancelOrders"
                                  :key="order.order_id"
                                >
                                  <td>{{ order.order_code }}</td>
                                  <td>{{ order.order_foods.length }}</td>
                                  <td>
                                    {{
                                      displayDatetime(
                                        order.created_at,
                                        "DD/MM/YYYY hh:mm"
                                      )
                                    }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="modal-footer"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <button
                style="border-radius: 10px"
                class="button4 w3-white"
                @click="confirmPayStatus()"
              >
                <div>
                  <img
                    class="img2"
                    src="../../documentation/img/x.png"
                    alt="table"
                    style="width: 50px"
                  />
                </div>
                ชำระเงิน/เคลียร์โต๊ะ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <card class="card shadow">
        <template slot="header">
          <h4 class="card-title">รายการอาหารที่สั่งทั้งหมด</h4>
        </template>
        <div class="all-icons">
          <div class="row">
            <div class="card-body">
              <div
                id="logs_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="logs_length">
                      <label
                        >แสดงข้อมูล
                        <select
                          name="logs_length"
                          aria-controls="logs"
                          class="
                            custom-select custom-select-sm
                            form-control form-control-sm
                          "
                        >
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        แถว</label
                      >
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="logs_filter" class="dataTables_filter text-right">
                      ค้นหา<label
                        ><input
                          type="search"
                          class="form-control form-control-sm"
                          placeholder=""
                          aria-controls="logs"
                      /></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="logs"
                      class="table table-hover dataTable no-footer dtr-inline"
                      width="100%"
                      role="grid"
                      aria-describedby="logs_info"
                      style="width: 100%"
                    >
                      <thead>
                        <tr role="row">
                          <th
                            class="align-middle sorting sorting_asc"
                            tabindex="0"
                            aria-controls="logs"
                            rowspan="1"
                            colspan="1"
                            style="width: 120.6px"
                            aria-sort="ascending"
                            aria-label="สถานะ: activate to sort column descending"
                          >
                            สถานะ
                          </th>
                          <th
                            class="align-middle sorting"
                            tabindex="0"
                            aria-controls="logs"
                            rowspan="1"
                            colspan="1"
                            style="width: 132.6px"
                            aria-label="รหัสสั่งซื้อ: activate to sort column ascending"
                          >
                            รหัสสั่งซื้อ
                          </th>
                          <th
                            class="align-middle sorting"
                            tabindex="0"
                            aria-controls="logs"
                            rowspan="1"
                            colspan="1"
                            style="width: 131.6px"
                            aria-label="ผู้สั่งซื้อ: activate to sort column ascending"
                          >
                            โต๊ะ
                          </th>
                          <th
                            class="align-middle sorting"
                            tabindex="0"
                            aria-controls="logs"
                            rowspan="1"
                            colspan="1"
                            style="width: 145.6px"
                            aria-label="ราคารวม (บาท): activate to sort column ascending"
                          >
                            ราคารวม (บาท)
                          </th>
                          <th
                            class="align-middle sorting"
                            tabindex="0"
                            aria-controls="logs"
                            rowspan="1"
                            colspan="1"
                            style="width: 135.6px"
                            aria-label="วันที่สั่งซื้อ: activate to sort column ascending"
                          >
                            วันที่สั่งซื้อ
                          </th>

                          <th
                            class="align-middle sorting"
                            tabindex="0"
                            aria-controls="logs"
                            rowspan="1"
                            colspan="1"
                            style="width: 114.6px"
                            aria-label="จัดการ: activate to sort column ascending"
                          >
                            จัดการ
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="odd"
                          v-for="order in orderLists"
                          :key="order.order_id"
                        >
                          <td
                            class="align-middle dtr-control sorting_1"
                            tabindex="0"
                          >
                            <span
                              class="badge badge-success"
                              v-if="order.status === STATUS_PAY_MSG"
                            >
                              ชำระเงินแล้ว
                            </span>
                            <span
                              class="badge badge-danger"
                              v-if="order.status === STATUS_NOT_PAY_MSG"
                            >
                              ยังไม่ชำระเงิน
                            </span>
                            <span
                              class="badge badge-info"
                              v-if="order.status === STATUS_COMIG_MSG"
                            >
                              รอเข้าใช้บริการ
                            </span>
                            <span
                              class="badge badge-secondary"
                              v-if="order.status === STATUS_CANCEL_MSG"
                            >
                              ยกเลิกแล้ว
                            </span>
                          </td>
                          <td class="align-middle">
                            <a class="btn btn-outline-primary p-1">
                              {{ order.order_code }}
                            </a>
                          </td>
                          <td class="align-middle">
                            <a>{{ order.table_no }}</a>
                          </td>
                          <td class="align-middle">{{ order.total }}</td>
                          <td class="align-middle">
                            {{
                              displayDatetime(
                                order.created_at,
                                "DD/MM/YYYY hh:mm"
                              )
                            }}
                          </td>

                          <td class="align-middle">
                            <button
                              to="icon/Info"
                              class="btn btn-info"
                              onclick="document.getElementById('id04').style.display='block'"
                            >
                              <i class="fas fa-search"></i> ดูข้อมูล
                            </button>

                            <div id="id04" class="w3-modal">
                              <div class="w3-modal-content">
                                <div class="w3-container">
                                  <span
                                    onclick="document.getElementById('id04').style.display='none'"
                                    class="w3-button w3-display-topright"
                                    >&times;</span
                                  >

                                  <div><h2>รายละเอียด</h2></div>
                                  <div class="col-md-12" style="padding: 20px">
                                    <div class="row" style="font-weight: bold">
                                      รหัสสั่งซื้อ :
                                      <span
                                        style="
                                          color: black;
                                          font-weight: normal;
                                        "
                                        >{{ order.order_code }}</span
                                      >
                                    </div>

                                    <div class="row" style="font-weight: bold">
                                      สถานะ :
                                      <span
                                        style="
                                          color: black;
                                          font-weight: normal;
                                        "
                                        >{{ order.status }}</span
                                      >
                                    </div>

                                    <div class="row" style="font-weight: bold">
                                      โต๊ะ :
                                      <span
                                        style="
                                          color: black;
                                          font-weight: normal;
                                        "
                                        >{{ order.table_no }}</span
                                      >
                                    </div>

                                    <div class="row" style="font-weight: bold">
                                      ราคารวม :
                                      <span
                                        style="
                                          color: black;
                                          font-weight: normal;
                                        "
                                        >{{ order.total }}</span
                                      >
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row" style="font-weight: bold">
                                      รายการอาหาร
                                    </div>

                                    <div class="row">
                                      <table class="table table-response">
                                        <thead>
                                          <tr>
                                            <th>จำนวน</th>
                                            <th>รายการอาหาร</th>
                                            <th>ราคา</th>
                                            <th>ราคารวม</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr
                                            v-if="
                                              order.order_foods.length === 0
                                            "
                                          >
                                            <td
                                              colspan="4"
                                              style="text-align: center"
                                            >
                                              ไม่มีข้อมูล
                                            </td>
                                          </tr>
                                          <tr
                                            v-for="food in order.order_foods"
                                            :key="food.order_food_id"
                                          >
                                            <td>{{ food.order_num }}</td>
                                            <td>{{ food.food_name }}</td>
                                            <td>{{ food.order_amount }}</td>
                                            <td>
                                              {{
                                                food.order_num *
                                                food.order_amount
                                              }}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div
                      class="dataTables_info"
                      id="logs_info"
                      role="status"
                      aria-live="polite"
                    >
                      แสดงหน้า 1 จาก 1
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-7">
                    <div
                      class="dataTables_paginate paging_simple_numbers"
                      id="logs_paginate"
                    >
                      <ul class="pagination">
                        <li
                          class="paginate_button page-item previous disabled"
                          id="logs_previous"
                        >
                          <a
                            href="#"
                            aria-controls="logs"
                            data-dt-idx="0"
                            tabindex="0"
                            class="page-link"
                            >Previous</a
                          >
                        </li>
                        <li class="paginate_button page-item active">
                          <a
                            href="#"
                            aria-controls="logs"
                            data-dt-idx="1"
                            tabindex="0"
                            class="page-link"
                            >1</a
                          >
                        </li>
                        <li
                          class="paginate_button page-item next disabled"
                          id="logs_next"
                        >
                          <a
                            href="#"
                            aria-controls="logs"
                            data-dt-idx="2"
                            tabindex="0"
                            class="page-link"
                            >Next</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </card>
    </div>
    <div class="col-md-8">
      <card class="card shadow">
        <div class="table-list">
          <div id="item-list" class="p-xxs">
            <table
              class="table table-striped b-t b-light"
              style="margin-bottom: 0px"
            >
              <thead>
                <tr>
                  <th style="width: 20px">
                    <label
                      class="i-checks m-b-none"
                      ng-init="check_all = false"
                    >
                      <input
                        type="checkbox"
                        ng-model="check_all"
                        ng-click="check_(check_all)"
                        class="ng-pristine ng-untouched ng-valid"
                        tabindex="0"
                        aria-checked="false"
                        aria-invalid="false"
                      /><i></i>
                    </label>
                  </th>
                  <th class="ng-binding">รายการ</th>
                  <th class="text-right ng-binding">ราคา</th>
                  <th class="text-center ng-binding">จำนวน</th>
                  <!--<th class="text-left">{{'pos.unit'|translate}}</th>-->
                  <th class="text-right ng-binding">รวม</th>
                  <!-- ngIf: config.use_status -->
                  <th
                    style="width: 80px"
                    ng-if="config.use_status"
                    class="ng-binding ng-scope"
                  >
                    สถานะ
                  </th>
                  <!-- end ngIf: config.use_status -->

                  <th class="text-center" style="width: 60px">#</th>
                </tr>
              </thead>
              <!-- ngRepeat: item in data_pay_select.items| orderBy:'-od_id' -->
              <tbody
                ng-repeat="item in data_pay_select.items| orderBy:'-od_id'"
                ng-init="item.show = true"
                ng-dblclick="change_items(item, $index)"
                class="ng-scope"
                tabindex="0"
                style=""
              >
                <tr
                  v-for="orderFood in orderFoods"
                  :key="orderFood.order_food_id"
                >
                  <td>
                    <label
                      class="i-checks m-b-none"
                      ng-show="item.status - 0 != 5"
                      aria-hidden="false"
                    >
                      <input
                        ng-init="item.selected = false"
                        ng-click="check_list(item.selected)"
                        type="checkbox"
                        ng-model="item.selected"
                        class="ng-pristine ng-untouched ng-valid"
                        tabindex="0"
                        aria-checked="false"
                        aria-invalid="false"
                      />
                      <i></i>
                    </label>
                  </td>
                  <td class="ng-binding" role="button" tabindex="0">
                    {{ orderFood.food_name }}
                  </td>
                  <td class="">
                    <!-- ngIf: item.is_buffet === 0 && item.price - 0 != 0 --><span
                      ng-if="item.is_buffet === 0 &amp;&amp; item.price - 0 != 0"
                      class="ng-binding ng-scope"
                    >
                      {{ orderFood.order_amount }}</span
                    ><!-- end ngIf: item.is_buffet === 0 && item.price - 0 != 0 -->
                    <!-- ngIf: item.is_buffet === 1 -->
                    <!-- ngIf: item.is_buffet === 0 && item.price - 0 === 0 -->
                    <!--<a editable-number="item.detail.price"  onbeforesave="change_price(item.od_id,$data)">{{ item.detail.price}}</a>-->
                  </td>
                  <td class="">
                    <a
                      editable-number="item.detail.count"
                      onbeforesave="change_count(item.od_id,$data)"
                      class="ng-scope ng-binding editable editable-click"
                      >{{ orderFood.order_num }}</a
                    >
                  </td>
                  <!--<td   class="text-left"> {{ item.unit}}</td>-->
                  <td
                    ng-click="item.show = !item.show"
                    class=""
                    role="button"
                    tabindex="0"
                  >
                    <!-- ngIf: item.is_buffet === 0 --><span
                      ng-if="item.is_buffet === 0"
                      class="ng-binding ng-scope"
                    >
                      {{
                        (orderFood.order_num * orderFood.order_amount).toFixed(
                          2
                        )
                      }}</span
                    ><!-- end ngIf: item.is_buffet === 0 -->
                    <!-- ngIf: item.is_buffet === 1 -->
                  </td>
                  <td
                    class="ng-binding"
                    ng-click="change_status_food([item.od_id], item.status - 0 != 5)"
                    ng-bind-html="get_status_food(item.status)"
                    role="button"
                    tabindex="0"
                  >
                    <span
                      v-if="orderFood.order_status == 0"
                      class="label bg-warning"
                      >รอ</span
                    >
                    <span
                      v-if="orderFood.order_status == 1"
                      class="label bg-info"
                      >กำลังทำ</span
                    >
                    <span
                      v-if="orderFood.order_status == 2"
                      class="label bg-success"
                      >เสร็จแล้ว</span
                    >
                    <span
                      v-if="orderFood.order_status == 3"
                      class="label bg-primary"
                      >ได้รับแล้ว</span
                    >
                    <span
                      v-if="orderFood.order_status == 4"
                      class="label bg-secondary"
                      >หมด</span
                    >

                    <span
                      v-if="orderFood.order_status == 5"
                      class="label bg-secondary"
                      >ยกเลิก</span
                    >
                  </td>

                  <div class="row">
                    <div>
                      <b-button
                        :onclick="`document.getElementById('modal_status_${orderFood.order_food_id}').style.display='block'`"
                        >แก้ไขสถานะ</b-button
                      >

                      <div
                        :id="`modal_status_${orderFood.order_food_id}`"
                        class="w3-modal"
                      >
                        <div class="w3-modal-content">
                          <div class="w3-container">
                            <span
                              :onclick="`document.getElementById('modal_status_${orderFood.order_food_id}').style.display='none'`"
                              class="w3-button w3-display-topright"
                              >&times;</span
                            >
                            <div class="modal-content">
                              <div class="col-sm-12">
                                <div
                                  class="list-group"
                                  style="margin-bottom: 0px"
                                >
                                  <!-- ngRepeat: a in status --><a
                                    ng-repeat="a in status"
                                    class="list-group-item bg-warning"
                                    style="font-size: 25px"
                                    @click="changeStatus(1, orderFood)"
                                  >
                                    กำลังทำ </a
                                  ><!-- end ngRepeat: a in status --><a
                                    ng-repeat="a in status"
                                    class="list-group-item bg-info"
                                    style="font-size: 25px"
                                    @click="changeStatus(2, orderFood)"
                                  >
                                    เสร็จแล้ว </a
                                  ><!-- end ngRepeat: a in status --><a
                                    ng-repeat="a in status"
                                    class="list-group-item bg-success"
                                    style="font-size: 25px"
                                    @click="changeStatus(3, orderFood)"
                                  >
                                    ได้รับแล้ว </a
                                  ><!-- end ngRepeat: a in status --><a
                                    ng-repeat="a in status"
                                    class="list-group-item bg-danger"
                                    style="font-size: 25px"
                                    @click="changeStatus(4, orderFood)"
                                  >
                                    หมด </a
                                  ><!-- end ngRepeat: a in status -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <!-- ngIf: item.detail.comment !== '' || item.toppings.length !== 0 || item.details.length - 0 !== 0 -->
                <tr
                  ng-show="item.show"
                  ng-if="item.detail.comment !== '' || item.toppings.length !== 0 || item.details.length - 0 !== 0"
                  class="ng-scope"
                  aria-hidden="false"
                >
                  <td></td>
                </tr>
                <!-- end ngIf: item.detail.comment !== '' || item.toppings.length !== 0 || item.details.length - 0 !== 0 -->
              </tbody>
              <!-- end ngRepeat: item in data_pay_select.items| orderBy:'-od_id' -->
            </table>
          </div>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import {
  BASE_API_PATH,
  MARKET_URL,
  STATUS_PAY_MSG,
  STATUS_NOT_PAY_MSG,
  STATUS_COMIG_MSG,
  STATUS_CANCEL_MSG,
} from "../constants/index";
import Card from "src/components/Cards/Card.vue";
import dayjs from "dayjs";
import VueQrcode from "vue-qrcode";
import _ from "lodash";
import Swal from "sweetalert2";
export default {
  components: {
    Card,
    VueQrcode,
  },
  data() {
    return {
      tables: [],
      tableSelect: {},
      orders: [],
      order: {},
      orderLists: [],
      orderFoods: [],
      cancelOrders: [],
      MARKET_URL: MARKET_URL,
      STATUS_PAY_MSG: STATUS_PAY_MSG,
      STATUS_NOT_PAY_MSG: STATUS_NOT_PAY_MSG,
      STATUS_COMIG_MSG: STATUS_COMIG_MSG,
      STATUS_CANCEL_MSG: STATUS_CANCEL_MSG,
    };
  },
  async mounted() {
    const response = await axios.get(`${BASE_API_PATH}/tables`);
    if (response.status === 200) {
      this.tables = response.data.data;
      if (this.tables.length > 0) {
        this.select(this.tables[0]);
      }
    }

    const response2 = await axios.get(`${BASE_API_PATH}/orders`);
    if (response2.status === 200) {
      this.orderLists = response2.data.data;
      this.orderLists.forEach((item) => {
        item.total = 0.0;
        item.order_foods.forEach((food) => {
          item.total += food.order_num * food.order_amount;
        });
        item.total = item.total.toFixed(2);
      });
    }

    const response3 = await axios.get(`${BASE_API_PATH}/list-order-foods`);
    if (response3.status === 200) {
      this.orderFoods = response3.data.data;
      this.orderFoods.forEach((item) => {
        item.total = 0.0;
        item.total = item.total.toFixed(2);
      });
    }
  },
  methods: {
    async confirmPayStatus() {
      const status = await Swal.fire({
        title: "ยืนยันการชำระเงินของโต๊ะ " + this.tableSelect.table_no,
        text: "ทำรายการสำเร็จ",
        icon: "warning",
        showDenyButton: true,
        showCancelButton: true,
        denyButtonText: `ยังไม่ชำระเงิน`,
        confirmButtonText: "ยืนยัน",
      });
      let data = null;
      if (status.isConfirmed) {
        data = JSON.stringify({
          order_id: this.order.order_id,
          status: "PAY",
        });
      } else if (status.isDenied) {
        data = JSON.stringify({
          order_id: this.order.order_id,
          status: "NOT PAY",
        });
      }

      var config = {
        method: "put",
        url: BASE_API_PATH + "/orders/status",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const response = await axios(config);
      if (response.status == 200) {
        const status2 = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "OK",
        });
        if (status2.isConfirmed) {
          this.$router.go();
        }
      }
    },
    async changeStatus(status, orderFood) {
      let data = JSON.stringify({
        order_food_id: orderFood.order_food_id,
        status: status,
      });

      var config = {
        method: "put",
        url: BASE_API_PATH + "/order-foods",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const response = await axios(config);
      if (response.status === 200) {
        const status = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "OK",
        });
        if (status.isConfirmed) {
          this.$router.go();
        }
      }
    },
    printQrcode() {
      // Get HTML to print from element
      const prtHtml = document.getElementById("qrcode").innerHTML;

      // Get all stylesheets HTML
      let stylesHtml = "";
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style'),
      ]) {
        stylesHtml += node.outerHTML;
      }

      // Open the print window
      const WinPrint = window.open(
        "",
        "",
        "left=0,top=0,width=400,height=400,toolbar=0,scrollbars=0,status=0"
      );

      WinPrint.document.write(`<!DOCTYPE html>
<html>
  <head>
    ${stylesHtml}
  </head>
  <body>
    ${prtHtml}
  </body>
</html>`);

      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.print();
    },
    async select(table) {
      const response = await axios.get(
        `${BASE_API_PATH}/orders?table_id=${table.table_id}`
      );
      this.orders = response.data.data;
      if (this.orders.length > 0) {
        this.order = this.orders[0];
      }
      console.log(this.order);
      this.cancelOrders = _.filter(this.orders, function (o) {
        return !o.isEnable;
      });
      table.orderNum = 0;
      if (this.orders.length > 0) {
        table.orderNum = this.orders[0].order_foods.length;
        table.createOrder = dayjs(this.orders[0].created_at).format(
          "DD/MM/YYYY hh:mm"
        );
        table.total = 0;
        table.foods = this.orders[0].order_foods;
        table.foods.forEach((item, index) => {
          table.total += item.order_num * item.order_amount;
        });
        table.total = table.total.toFixed(2);
      }

      this.tableSelect = table;
      console.log(this.tableSelect);
    },
    displayDatetime(value, format) {
      return dayjs(value).format(format);
    },
  },
};
</script>
<style>
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  color: #777;
  height: 600px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #777;
}
a:hover {
  color: #f39305;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.banner-heading {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}
.banner-sub-heading {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}
.btn-warning {
  background-color: #eca439;
}
.btn-warning:hover {
  background-color: #f39305;
}
.mybtn {
  border-radius: 0;
  height: 30px;
  margin: 10px auto;
  line-height: 10px;
}
.form-control {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid #05a8f3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 30px;
}
.form-check-input {
  background-color: #fff !important;
  border-radius: 50% !important;
  border: 2px solid #f39305 !important;
}
.modal-content {
  width: 400px;
  margin: auto;
}

.modal-header {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #e9ecef;
  border-radius: 0;
  background-color: #ffffff;
}
.modal-title {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center;
}
.modal-body {
  background-image: url("http://snippetimg.meditialabs.com/bgs/bg1.jpg");
  background-position: top left;
  background-size: cover;
  width: 100%;
  padding: 1.5rem 3rem 3rem 3rem;
}
body.modal-open .supreme-container {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.text-intro {
  font-size: 0.8em;
  color: #777;
  text-align: center;
}
.form-div {
  background-color: #fff;
  padding: 2em 1.5em;
  box-shadow: 2px 2px 2px 2px rgba(215, 215, 215, 0.5);
}
form {
  border: 0 !important;
}
@media (max-width: 500px) {
  .modal-content {
    width: 330px;
    margin: auto;
  }
  .banner-heading {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .banner-sub-heading {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .banner-text {
    padding: 150px 0 150px 0;
  }
  .banner-sub-heading {
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
  }
}
.button {
  border-radius: 10px;
  position: relative;
  background-color: #10b478;
  border: none;
  font-size: 15px;
  color: #ffffff;
  padding: 15px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 5px 5px rgb(185, 178, 178);
}

.button:after {
  content: "";
  background: #90d3ee;
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.img {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width: 0px;
  margin-left: -20px !important;
}
.button1 {
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  border: none;
  font-size: 10px;
  color: #000000;
  padding: 7px;
  width: 75px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-left: -10px;
  box-shadow: 5px 5px rgb(185, 178, 178);
}
.button2 {
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  border: none;
  font-size: 10px;
  color: #000000;
  padding: 7px;
  width: 75px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  box-shadow: 5px 5px rgb(185, 178, 178);
}

.button3 {
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  border: none;
  font-size: 10px;
  color: #000000;
  padding: 7px;
  width: 75px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  box-shadow: 5px 5px rgb(185, 178, 178);
}
.button4 {
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  border: none;
  font-size: 10px;
  color: #000000;
  padding: 7px;
  width: 75px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  box-shadow: 5px 5px rgb(185, 178, 178);
}

.img1 {
  border-radius: 10px;
  padding: 5px;
  width: 5px;
  margin-left: -5px !important;
}
.img2 {
  border-radius: 10px;
  padding: px;
  width: 10px;
  margin-left: px !important;
}
a.btn.btn-lg.btn-info {
  line-height: 1.1;
  margin-top: 40px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}
</style>
