<template>
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h3>รายงานยอดขาย</h3>
      </div>
      <hr />
      <div class="row p-3">
        <div class="col-md-2 text-right">วันเริ่มต้น</div>
        <div class="col-md-3">
          <b-input type="date" v-model="startDate"></b-input>
        </div>

        <div class="col-md-2 text-right">วันสิ้นสุด</div>
        <div class="col-md-3">
          <b-input type="date" v-model="endDate"></b-input>
        </div>

        <b-button @click="search">ค้นหา</b-button>
      </div>
      <hr />
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h5 style="color: green; font-weight: bold">ช่องทางการชำระ</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">การชำระเงิน</th>
                  <th scope="col">จำนวน(ครั้ง)</th>
                  <th scope="col">รวม</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="payListOrders.length <= 0">
                  <td></td>
                  <td colspan="3" class="text-muted">No Data</td>
                  <td></td>
                </tr>
                <tr v-for="data in payListOrders" :key="data.pay">
                  <td>{{ data.pay_thai }}</td>
                  <td>{{ data.NUM }}</td>
                  <td>{{ data.TOTAL }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h5 style="color: green; font-weight: bold">รายการที่ขายไป</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">รายการ</th>
                  <th scope="col">จำนวน</th>
                  <th scope="col">รวม</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="orderFoods.length <= 0">
                  <td></td>
                  <td colspan="3" class="text-muted">No Data</td>
                  <td></td>
                </tr>
                <tr v-for="data in orderFoods" :key="data.food_id">
                  <td>{{ data.food_name }}</td>
                  <td>{{ data.NUM }}</td>
                  <td>{{ data.TOTAL }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <hr class="mt-4" />
        <div class="row p-3">
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6" style="color: darkblue; font-weight: bold">
                รายได้สุทธิ
              </div>
              <div class="col-md-6 text-right">{{ total.toFixed(2) }}</div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row p-2">
          <!-- Button trigger modal -->
          <b-button class="btn-info ml-auto" v-b-modal.modal-1
            ><i class="fas fa-envelope"></i>{{ " " }}ส่งอีเมล</b-button
          >
        </div>
      </div>
    </div>
    <div>
      <b-modal
        id="modal-1"
        title="ส่งอีเมล"
        hide-backdrop
        content-class="shadow"
        @ok="sendEmail"
      >
        <b-row>
          <b-col md="3">TO</b-col>
          <b-col><b-input type="email" v-model="email"></b-input></b-col>
        </b-row>
      </b-modal>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import { BASE_API_PATH } from "../constants";
import axios from "axios";
import Swal from 'sweetalert2';
export default {
  data() {
    return {
      payListOrders: [],
      orderFoods: [],
      total: 0.0,
      email: '',
      today: dayjs().format("YYYY-MM-DD"),
      startDate: new Date().toISOString().slice(0, 10),
      endDate: new Date().toISOString().slice(0, 10),
    };
  },
  async mounted() {},
  methods: {
    async sendEmail() {
      var data = JSON.stringify({
        start_date: dayjs(this.startDate).format("YYYY-MM-DD"),
        end_date: dayjs(this.endDate).format("YYYY-MM-DD"),
        email: this.email,
      });

      var config = {
        method: "post",
        url: BASE_API_PATH+"/reports/send-email",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const response = await axios(config);
      if (response.status == 200) {
        const status2 = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "OK",
        });

      }
    },

    async search() {
      this.total = 0.0;
      var config = {
        method: "get",
        url:
          BASE_API_PATH +
          `/reports/pay?start_date=${dayjs(this.startDate).format(
            "YYYY-MM-DD"
          )}&end_date=${dayjs(this.endDate).format("YYYY-MM-DD")}`,
        headers: {},
      };

      const response = await axios(config);
      this.payListOrders = response.data.data;
      this.payListOrders.forEach((item) => {
        this.total += item.TOTAL;
      });

      config = {
        method: "get",
        url:
          BASE_API_PATH +
          `/reports/orders?start_date=${dayjs(this.startDate).format(
            "YYYY-MM-DD"
          )}&end_date=${dayjs(this.endDate).format("YYYY-MM-DD")}`,
        headers: {},
      };

      const response2 = await axios(config);
      this.orderFoods = response2.data.data;
    },
  },
};
</script>
