<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card
            class="strpied-tabled-with-hover card shadow"
            body-classes="table-full-width table-responsive"
          >
            <template slot="header">
              <h4 class="card-title">รายการอาหารที่สั่ง</h4>
            </template>
            <div class="col-md-12">
              <div class="row col-md-12 col-md-offset-2 custyle">
                <div>
                  <b-card>
                    <b-tabs pills card horizotal>
                      <b-tab
                        v-for="table in tables"
                        :key="'table_' + table.table_id"
                        :title="`รายการอาหารโต๊ะ ${table.table_no}`"
                        :active="table.isSelect"
                        @click="selectOrder(table.table_id)"
                        ><b-card-text style="width: 60vw">
                          <table class="table table-striped custab">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>ชื่ออาหาร</th>
                                <th>จำนวน</th>
                                <th class="text-center">ราคา</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr v-if="orderFoods.length == 0">
                                <td colspan="4" style="text-align:center">ไม่มีข้อมูล</td>
                                <td></td>
                              </tr>

                              <tr
                                v-for="order in orderFoods"
                                :key="
                                  'table_' +
                                  table.table_id +
                                  'order_' +
                                  order.order_food_id
                                "
                              >
                                <td>{{ order.order_code }}</td>
                                <td>{{ order.food_name }}</td>
                                <td>{{order.order_num}}</td>
                                <td>{{order.order_amount.toFixed(2)}}</td>
                                <td class="text-center">
                                  <a class="btn btn-info btn-xs" v-if="order.order_status == 0"
                                    ><span
                                      class="glyphicon glyphicon-edit"
                                    ></span>
                                    รอคิว
                                  </a>

                                  <a class="btn btn-primary btn-xs" v-if="order.order_status == 1"
                                    ><span
                                      class="glyphicon glyphicon-edit"
                                    ></span>
                                    กำลังทำ
                                  </a>

                                  <a class="btn btn-warning btn-xs" v-if="order.order_status == 2"
                                    ><span
                                      class="glyphicon glyphicon-edit"
                                    ></span>
                                    เสร็จแล้ว
                                  </a>

                                  <a class="btn btn-success btn-xs" v-if="order.order_status == 3"
                                    ><span
                                      class="glyphicon glyphicon-edit"
                                    ></span>
                                    ได้รับแล้ว
                                  </a>

                                  <a class="btn btn-success btn-xs" v-if="order.order_status == 4"
                                    ><span
                                      class="glyphicon glyphicon-edit"
                                    ></span>
                                    หมด
                                  </a>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </b-card-text></b-tab
                      >
                    </b-tabs>
                  </b-card>
                </div>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import LTable from "src/components/Table.vue";
import Card from "src/components/Cards/Card.vue";
import axios from "axios";
import { BASE_API_PATH } from "../constants";
export default {
  components: {
    LTable,
    Card,
  },
  data() {
    return {
      orders: [],
      tables: [],
      orderFoods: []
    };
  },
  async beforeMount() {
    const response = await axios.get(`${BASE_API_PATH}/tables`);
    if (response.status == 200) {
        this.tables = response.data.data;
        for (let i = 0; i < this.tables.length; i++) {
          this.tables[i].isSelect = i==0 ? true : false;
          if(i==0){
            this.selectOrder(this.tables[i].table_id)
          }
          const res = await axios.get(`${BASE_API_PATH}/list-order-foods`);
          this.tables[i].orderFoods = _.filter(res.data.data,item=>item.table_id==this.tables[i].table_id);

        }
        console.log(this.tables);

      }
  },
  async mounted() {},
  methods: {
    async selectOrder(id){
       const res = await axios.get(`${BASE_API_PATH}/list-order-foods`);

      if(res.status==200){
        this.orderFoods = _.filter(res.data.data,item=>item.table_id==id);
      }
    }
  },
};
</script>

<style>
.nav .nav-item .nav-link:focus {
  background-color: #007bff;
}
.nav .nav-item .nav-link:hover {
  color: #a09f9f;
}
.btn-xs {
  margin: 5px;
}
</style>
