<template>
  <div class="col-12">
    <br />
    <div class="card">
      <div class="card-header border-0 pt-4">
        <h4>
          <i class="fas fa-shopping-cart"></i>
          เพิ่มข้อมูลสินค้า
        </h4>
        <router-link to="../maps" class="btn btn-info mt-3">
          <i class="fas fa-list"></i>
          กลับหน้าหลัก
        </router-link>
      </div>
      <form id="formData" @submit="submitData">
        <div class="card-body">
          <div class="form-row">
            <!-- <div class="form-group col-md-3">
              <label for="cat_name">ประเภทสินค้า</label>
              <select class="custom-select mb-3" name="cat_name">
                <option disabled="" selected="">Select Types</option>
                <option value="sClass">รายการอาหาร</option>
                <option value="mClass">รายการน้ำดื่่ม</option>
              </select>
            </div> -->
            <div class="form-group col-md-9">
              <label for="p_name">ชื่อสินค้า</label>
              <input
                type="text"
                class="form-control"
                id="p_name"
                placeholder="ชื่อสินค้า"
                v-model="food.food_name"
              />
            </div>
            <div class="form-group col-md-3">
              <label for="price">ราคา / บาท</label>
              <input
                type="text"
                class="form-control"
                id="price"
                placeholder="ราคา"
                v-model="food.food_price"
              />
            </div>
            <!-- <div class="form-group col-md-9">
              <label for="url">URL</label>
              <input
                type="text"
                class="form-control"
                name="url"
                id="url"
                placeholder="Url สินค้า"
              />
            </div> -->
            <div class="form-group col-sm-6">
              <label for="customFile">รูปปก</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" />
                <label class="custom-file-label" for="customFile"
                  >เลือกรูปภาพ</label
                >
              </div>
              <img
                src="../../../documentation/img/tim-logo.png"
                alt="Image Profile"
                class="img-fluid p-3"
              />
            </div>
            <div class="form-group col-md-12">
              <label for="detail">รายละเอียด</label>

              <textarea
                id="w3review"
                v-model="food.food_detail"
                rows="10"
                cols="100"
              >
              </textarea>
              <br />
              <br />
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="submit"
            class="btn btn-primary btn-block mx-auto w-75"
            name="submit"
          >
            บันทึกข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";
import { BASE_API_PATH, HOST } from "../../constants";
export default {
  data() {
    return {
      food: {},
      HOST: HOST,
    };
  },
  methods: {
    async submitData(event) {
      event.preventDefault(0);
      const file = document.getElementById("customFile");
      let fileList;
      if (file.files && file.files.length > 0) {
        fileList = file.files[0];
      }
      console.log(file.files);

      var data = new FormData();
      data.append("food_name", this.food.food_name);
      data.append("food_price", this.food.food_price);
      data.append("food_detail", this.food.food_detail);
      data.append("food_img", fileList);

      var config = {
        method: "post",
        url: `${BASE_API_PATH}/foods`,
        data: data,
      };

      const result = await axios(config);
      if (result.status === 200) {
        const status = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "ตกลง",
        });

        console.log(status);
        if (status.isConfirmed) {
          this.$router.push("../maps");
        }
      } else {
        await Swal.fire({
          title: "Error!",
          text: "ทำรายการไม่สำเร็จ",
          icon: "error",
          confirmButtonText: "OK",
        });
      }
    },
  },
};
</script>
