<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header border-0 pt-4">
              <h4>
                <i class="fas fa-shopping-cart"></i>
                รายการสินค้า
              </h4>
              <router-link to="../maps" class="btn btn-info mt-3">
                <i class="fas fa-list"></i>
                กลับหน้าหลัก
              </router-link>
            </div>
            <form id="formData" @submit="submitData">
              <div class="card-body">
                <div class="form-row">
                  <!-- <div class="form-group col-md-3">
                    <label for="cat_name">ประเภทสินค้า</label>
                    <select class="custom-select mb-3" name="cat_name">
                      <option disabled="">Select Course Types</option>
                      <option selected="" value="sClass">-</option>
                      <option value="mClass">-</option>
                      <option value="fClass">-</option>
                    </select>
                  </div> -->
                  <div class="form-group col-md-9">
                    <label for="p_name">ชื่อสินค้า</label>
                    <input
                      type="text"
                      class="form-control"
                      name="p_name"
                      id="p_name"
                      placeholder="ชื่อสินค้า"
                      v-model="food.food_name"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <label for="price">ราคา / บาท</label>
                    <input
                      type="text"
                      class="form-control"
                      name="price"
                      id="price"
                      placeholder="ราคา"
                      v-model="food.food_price"
                    />
                  </div>
                  <!-- <div class="form-group col-md-9">
                    <label for="url">Url สินค้า</label>
                    <input
                      type="text"
                      class="form-control"
                      name="url"
                      id="url"
                      placeholder="Url สินค้า"
                      value=""
                    />
                  </div> -->
                  <div class="form-group col-sm-6">
                    <label for="customFile">รูปปก</label>
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="customFile"
                      />
                      <label class="custom-file-label" for="customFile"
                        >เลือกรูปภาพ</label
                      >
                    </div>
                    <!-- //../../../documentation/img/tim-logo.png -->
                    <img
                      :src="`${HOST}/${food.food_img}`"
                      alt="Image Profile"
                      id="food_img"
                      class="img-fluid p-3"
                    />
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <a for="detail">รายละเอียด</a>

                <br />

                <textarea
                  id="w3review"
                  name="w3review"
                  rows="10"
                  cols="100"
                  v-model="food.food_detail"
                >
                </textarea>
                <br />
                <br />
              </div>

              <div class="">
                <button
                  type="submit"
                  class="btn btn-primary btn-block mx-auto w-75"
                  name="submit"
                >
                  บันทึกข้อมูล
                </button>
              </div>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { BASE_API_PATH, HOST } from "../../constants";
import Swal from "sweetalert2";
export default {
  name: "form-edit",
  component: {},
  data() {
    return {
      food: {},
      HOST: HOST,
    };
  },
  async mounted() {
    const response = await axios.get(
      `${BASE_API_PATH}/foods?food_id=${this.$route.query.food_id}`
    );
    if (response.status === 200) {
      this.food = response.data.data;
    }
  },

  methods: {
    onClose: (path) => {
      this.$router.push(path);
    },
    async submitData(event) {
      event.preventDefault(0);
      const file = document.getElementById("customFile");
      let fileList;
      if (file.files && file.files.length > 0) {
        fileList = file.files[0];
      }
      console.log(file.files);

      var data = new FormData();
      data.append("food_name", this.food.food_name);
      data.append("food_id", this.food.food_id);
      data.append("food_price", this.food.food_price);
      data.append("food_detail", this.food.food_detail);
      data.append("food_img", fileList);

      var config = {
        method: "put",
        url: `${BASE_API_PATH}/foods`,
        data: data,
      };

      const result = await axios(config);
      if (result.status === 200) {
        const status = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "ตกลง",
        });

        console.log(status);
        if (status.isConfirmed) {
          this.$router.push("../maps");
        }
      } else {
        await Swal.fire({
          title: "Error!",
          text: "ทำรายการไม่สำเร็จ",
          icon: "error",
          confirmButtonText: "OK",
        });
      }
    },
  },
};
</script>

<style>
</style>
