<template>
  <div>
    <div class="container">
      <div class="col-md-12" style="text-align: center">
        <h2>ชำระด้วย {{ show }}</h2>
        <img
          src="../assets/PT1.jpg"
          class="image img-fluid rounded"
          alt="table"
          v-if="isShow"
        />
      </div>
      <div class="col-md-12 text-center pt-3">
        <button @click="onClickSuccess()" class="btn btn-success col-md-3">
          เสร็จสิ้น
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { BASE_API_PATH } from '../constants';
import axios from 'axios';
export default {
  data() {
    return {
      show: this.$route.query.pay == "CASH" ? "เงินสด" : "แสกนจ่าย",
      isShow: this.$route.query.pay == "CASH" ? false : true,
      id: this.$route.query.id,
    };
  },
  methods: {
    async onClickSuccess() {
      var data = JSON.stringify({
        order_id: this.id,
        status: "NOT PAY",
        pay: this.$route.query.pay
      });

      var config = {
        method: "put",
        url: BASE_API_PATH+"/orders/status",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const response = await axios(config);
      if (response.status == 200) {
        const status = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "OK",
        });
        if (status.isConfirmed) {
          this.$router.push("/");
        }
      }
    },

  },
};
</script>