<template>
  <div>
    <div class="container">
      <h5 class="text-decoration-none text-dark">รายการอาหารที่สั่ง</h5>
      <p class="pl-4 text-danger">
        *สามารถยกเลิกรายการได้ในขณะอยู่ในสถานะ รอกดรับออเดอร์
      </p>

      <div
        class="text-left card p-1 m-2"
        v-for="ord in _get(order, 'order_foods')"
        :key="`order_food_${ord.order_food_id}`"
      >
        <router-link to="" class="text-decoration-none d-flex"
          ><img
            :src="`${HOST}/${ord.food_img}`"
            class="imge img-fluid rounded"
            alt="table"
          />
          <br />
          <div style="padding: 10px; position: relative; top: 5px">
            <p class="text-dark">{{ ord.food_name }}</p>
            <span class="text-muted text-material"
              >เนื้อสัตว์ :
              <span
                v-for="mat in ord.food_materials"
                :key="'food_' + mat.food_material_id"
                >{{ mat.material_name }}</span
              ></span
            >
            <h5 class="text-dark">฿ {{ ord.order_amount }} <span style="color:orange" v-if="ord.order_status == 5">(0.00)</span></h5>

            <span v-if="ord.order_status == 0" class="badge badge-warning"
              >รอ
            </span>
            <span v-if="ord.order_status == 1" class="badge badge-info"
              >กำลังทำ</span
            >
            <span v-if="ord.order_status == 2" class="badge badge-success"
              >เสร็จแล้ว</span
            >

            <span v-if="ord.order_status == 3" class="badge badge-primary"
              >ได้รับแล้ว</span
            >

            <span v-if="ord.order_status == 4" class="badge badge-secondary"
              >หมด</span
            >

            <span v-if="ord.order_status == 5" class="badge badge-secondary"
              >ยกเลิกแล้ว</span
            >
            <br />
            <button
              v-if="ord.order_status == 0"
              @click="cancel(ord.order_food_id)"
              class="btn btn-danger"
            >
              ยกเลิก
            </button>
          </div>
        </router-link>
      </div>

      <!-- <div class=" text-left card p-1 m-2">
          
          <router-link to="" class="text-decoration-none d-flex"
            ><img
              src="../assets/fried-rice.jpg"
              class="imge img-fluid  rounded"
              alt="table"
              
            />
            <div style="padding: 10px ; position : relative ; top:5px ">
            <p class="text-dark">
              ข้าวผัด
            </p>
                       

            <span class="badge badge-warning">
                             รับออเดอร์
                            </span>
            </div>
          </router-link>
          
        </div>
       
        <div class=" text-left card p-1 m-2">
          <router-link to="" class="text-decoration-none d-flex"
            ><img
              src="../assets/PT1.jpg"
              class="imge img-fluid  rounded"
              alt="table"
              
            />
            <div style="padding: 10px ; position : relative ; top:5px ">
            <p class="text-dark">
              ผัดไทย
            </p>
            <p><button type="button" class="btn btn-danger">ยกเลิก</button></p>
           <span class="badge badge-success">
                             รอกดรับออเดอร์
                            </span>
            </div>
            <div style="margin-top:35px ;">
            
           
            </div>
          </router-link>
         
        </div> -->
      <div class="container">
        <div class="d-flex">
          <p>รายการอาหารที่สั่ง {{ numFoods }} รายการ</p>
          <h5 style="padding-left: 10px">฿ {{ total }} </h5>
        </div>
        <button
          type="button"
          class="btn btn-info btn-lg btn-block"
          data-toggle="modal"
          data-target="#payModal"
        >
          ชำระเงิน
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="payModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">การชำระเงิน</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <label for="payType" class="col-sm-3 col-form-label"
                    >การชำระเงิน</label
                  >
                  <div class="col-sm-8">
                    <select class="form-control" v-model="selectList">
                      <option
                        v-for="list in payList"
                        :value="list.value"
                        :key="list.value"
                      >
                        {{ list.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  ยกเลิก
                </button>
                <router-link
                data-dismiss="modal"
                  type="button"
                  class="btn btn-primary"
                  :to="`/other/money?pay=${selectList}&id=${id}`"
                >
                  ตกลง
                </router-link>
              </div>
            </div>
          </div>
        </div>

        <br />
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import _ from "lodash";
import { BASE_API_PATH, HOST } from "../constants";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      orderFoods: [],
      order: {},
      id: '',
      total: 0.0,
      numFoods: 0,
      HOST: HOST,
      selectList: "CASH",
      payList: [
        { label: "เงินสด", value: "CASH" },
        { label: "บัญชีธนาคาร(แสกนจ่าย)", value: "BANK" },
      ],
    };
  },
  async mounted() {
    const response = await axios.get(
      `${BASE_API_PATH}/orders?table_id=${localStorage.getItem("table")}&not_pay=1`
    );
    if (response.status == 200) {
      this.orderFoods = response.data.data;
      if (this.orderFoods.length > 0) {
        this.order = _.first(this.orderFoods);
        this.id=this.order.order_id;
        if (!_.isEmpty(this.order)) {
          this.numFoods = this.order.order_foods.length;
          _.forEach(this.order.order_foods, (item) => {
            this.total += item.order_status !== 5 ?item.order_amount:0;
          });
        }

        this.total = this.total.toFixed(2);
      }
    }
  },
  methods: {
    _get(list, path) {
      return _.get(list, path);
    },
    async cancel(id) {
      var data = JSON.stringify({
        order_food_id: id,
        status: 5,
      });

      var config = {
        method: "put",
        url: BASE_API_PATH + "/order-foods",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      const response = await axios(config);
      if (response.status == 200) {
        const status = await Swal.fire({
          title: "Success!",
          text: "ทำรายการสำเร็จ",
          icon: "success",
          confirmButtonText: "OK",
        });
        if (status.isConfirmed) {
          localStorage.removeItem("carts");
          this.$router.push("/");
        }
      }
    },
  },
};
</script>
<style>
.imge1 {
  width: 70%;
  height: 70%;
  margin-left: 15%;
}

/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 90px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container2 {
  padding-left: 70px;
  margin-bottom: 12px;
  font-size: 15px;
}
.container3 {
  padding-left: 32px;
  margin-bottom: 12px;
  font-size: 15px;
}
.container4 {
  padding-left: 55px;
  margin-bottom: 12px;
  font-size: 15px;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 50px;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>